#This is a comment
# '#>package' means system dependency
# 'package' means pip dependency
#>python-xlib
pyobjc-core==4.0; sys_platform == 'darwin'
pyobjc==4.0; sys_platform == 'darwin'
python-xlib==0.20
PyAutoGUI==0.9.36
numpy==1.11.1rc1
